body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .main {
    @include media-breakpoint-up(md) {
      margin-top: -160px;
    }
    margin-top: -120px;
   
    .drag-drop {
      display: flex;
      justify-content: center;
      color: $link-color;
      @include media-breakpoint-up(md) {
        margin-top: 0;
      }
      margin-top: 160px;
    }
  }
  .attribution {
    padding: $spacer 0;
    margin-top: auto;
    a {
      color: $activeColor;
    }
  }
  .container {
    @include media-breakpoint-up(md) {
      max-width: 800px;
    }
  }
}