body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .main {
    @include media-breakpoint-up(md) {
      margin-top: -160px;
    }
    margin-top: -120px;
   
    .drag-drop {
      display: flex;
      justify-content: center;
      color: $link-color;
      @include media-breakpoint-up(md) {
        margin-top: 0;
      }
      margin-top: 160px;
    }
  }
  .attribution {
    padding: $spacer 0;
    margin-top: auto;
    a {
      color: $activeColor;
    }
  }
  .container {
    @include media-breakpoint-up(md) {
      max-width: 800px;
    }
  }

  &.light {
    // CSS variables
    --bs-body-bg: hsl(0, 0%, 98%);
    --bs-primary: hsl(0, 0%, 100%);
    --bs-body-color: hsl(235, 19%, 35%);
    --bs-border-color-translucent: hsl(236, 33%, 92%);
    --bs-gray-400: var(--bs-body-color);
  }

}